.aside {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    min-width: 33.33%;
    background-color: var(--color-white);
    z-index: 9;
    transform: translateX(-100%);
    transition: transform var(--animation-slow);
    padding-top: calc((var(--gap)* 1.1) + var(--btn-height-small));
    
    &.open {
        transform: translateX(0);
    }


    .close {
        position: absolute;
        left: var(--container-padding);
        top: calc(var(--nav-bar-height) * 0.19);
        width: calc((var(--copy-size-m)* 2) + 1em);
        height: var(--btn-height-small);
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--color-dark);
        z-index: 9;

        svg {
            cursor: pointer;
            width: 60%;
            height: 60%;
        }
    }

    .links {
        position: relative;
        height: 100%;
        padding: var(--container-padding);
        padding-top: 8vh;
        color: var(--color-dark);
        display: flex;
        flex-direction: column;
        z-index: 9;

        .menu {
            margin-bottom: 1em;
            opacity: .5;
        }


        ul {
            li {
                a, .link {
                    font-size: calc(var(--title-size) * .3);
                    color: var(--color-dark);
                }

            }
        }

        .sub {
            position: relative;    
            .link {
                cursor: pointer;
            }        

            span:not(.notif) {                
                position: absolute;
                top: 0;
                right: 0;
                cursor: pointer;

                &::after{
                    content: '+';
                    transition: .5s;
                    font-size: calc(var(--title-size) * .3);
                }                
            }           

            .subMenu {
                position: relative;
                margin-left: 1em;
                overflow: hidden;
                height: 0;
                
                ul {
                    a {
                        font-size: calc(var(--title-size) * .15);
                        opacity: .7;
                        transition: all 200ms ease-in;

                        &:hover {
                            opacity: 1;
                            font-weight: 500;
                        }
                    }
                }
    
            }

            &.active span:not(.notif)::after {
                content: '-';
                transition: all .5s;
            }

            &.active .subMenu {
                height: auto;
            }
        }


    }

    .notif {
        position: relative;
        transition: color 500ms ease-in-out;        

        &::before {
            content:"";
            position: absolute;
            top: 50%;
            left: -1rem;
            transform: translateY(-50%);
            opacity: 0;
            width: 6px;
            height: 6px;
            background-color: var(--color-YG);
            border-radius: 50%;
            transition: all 500ms ease-in-out;
            pointer-events: none;
        }
        
        &.active::before,
        &:hover::before {
            opacity: 1;
        }
    }

}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 7;
    background-color: rgba(var(--color-black-rgb), 0.5);
    opacity: 0;
    visibility: hidden;
    backdrop-filter: blur(.2em);
    transition: all var(--animation-slow);



    &.open {
        opacity: 1;
        visibility: visible;
    }
}

@media screen and (max-width: 992px) {
    .aside {
        width: 100%;
    }
}


@media screen and (max-width: 540px) {
    .aside {
        .close {
            left: var(--mobile-padding);
            top: calc(var(--nav-bar-height-mobile) * .15);
        }
    }

}
