.nav{
    padding: 0 var(--container-padding);
    position: relative;
    height: var(--nav-bar-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    .burger {
        width: calc((var(--copy-size-m)* 2) + 1em);
        height: var(--btn-height-small);
        display: flex;
        justify-content: center;
        align-items: center;
        
        svg {
            cursor: pointer;
            width: 60%;
            height: 60%;
        }

        &.active {
            display: none;
        }
    }
    
    .logo {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);   
        overflow: hidden;     
        
        svg {
            width: 3em;
            height: 1.5em;
            font-size: 2.2em;
        }
       
    }

    .right {
        display: flex;
        align-items: center;
        gap: 1rem;

        .messages {
            position: relative;

            .btn {
                background-color: transparent;
                color: var(--color-dark);
                border: none;
                border-radius: 50%;
                display: flex;
                align-items: center;
                cursor: pointer;
                transition: all 100ms ease-in-out;

                &:hover {
                    background-color: var(--color-dark);
                    color: var(--color-white);
                  }
                  
                &:focus {
                    outline: none; 
                    box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #1f2937; 
                }

                svg {
                    height: 2.2em;
                    width: 2.2em;
                }

            }
        }   
        
        .profile {
            position: relative;

            .btn {
                position: relative;
                display: flex;
                background: transparent;
                border: none;
                height: 2.2em;
                width: 2.2em;                
                color: var(--color-dark);
                cursor: pointer;
                
                img {
                    border-radius: 50%;
                    object-fit: cover;
                }
                
            }
        }
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(var(--color-black-rgb), 0.1);
        // z-index: 1;
        // backdrop-filter: blur(.2em);
    }
}  

@media screen and (max-width: 540px) {
    .nav {
        padding: 0 var(--mobile-padding);

        .logo {
            svg{
                font-size: 2em;
            }
        }

        .right {
            gap: 0.5rem;
            .messages {
                .btn {
                    svg {
                        height: 2em;
                        width: 2em;
                    }
                }
            }

            .profile {
                .btn {
                    width: 2em;
                    height: 2em;
                }
            }
        }
    }  
    
}