.nav{
    padding: 0 var(--container-padding);
    position: relative;
    height: var(--nav-bar-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    .left {
        display: flex;
        gap: calc(var(--gap) * 1.5);

        .burger {
            width: calc((var(--copy-size-m)* 2) + 1em);
            height: var(--btn-height-small);
            display: flex;
            justify-content: center;
            align-items: center;
            
            svg {
                cursor: pointer;
                width: 60%;
                height: 60%;
            }
    
            &.active {
                display: none;
            }
        }

        .links {
            display: flex;
            align-items: center;
            gap: var(--gap);
            
            a {
                color: var(--color-dark);
            }

            .properties {
                position: relative;
                transition: color 100ms ease-in-out;
                
                & > span {
                    cursor: pointer;                    
                }
                
                .arrow {
                    position: absolute;
                    top: 55%;
                    left: 50%;
                    transform: translateX(-50%);
                    height: 1em;
                    width: 1em;
                    cursor: pointer;                      

                    svg {
                        height: 100%;
                        width: 100%;
                        transition: fill 100ms ease-in-out;               
                    }
                }

                &:hover .arrow svg{
                    fill: var(--color-YG);
                }

                &:hover {
                    color: var(--color-YG);
                }
            }
        }
    }

    .right {
        display: flex;
        align-items: center;
        gap: 1.5rem;

        .messages {
            position: relative;

            .btn {
                background-color: transparent;
                color: var(--color-dark);
                border-radius: 50%;
                display: flex;
                align-items: center;
                cursor: pointer;
                transition: all 100ms ease-in-out;

                &:hover {
                    background-color: var(--color-dark);
                    color: var(--color-white);
                  }
                  
                &:focus {
                    outline: none; 
                    box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #1f2937; 
                }

                svg {
                    height: 1.8em;
                    width: 1.8em;
                }

            }
        }   
        
        .profile {
            position: relative;

            .avatar {
                position: relative;
                .arrow {
                    position: absolute;
                    top: 80%;
                    left: 50%;
                    transform: translateX(-50%);
                    height: 1em;
                    width: 1em;
                    cursor: pointer;

                    svg {
                        height: 100%;
                        width: 100%;
                    }
                }
            }

            .btn {
                position: relative;
                display: flex;
                background: transparent;
                border: none;
                height: 2.2em;
                width: 2.2em;                
                color: var(--color-dark);
                cursor: pointer;
                
                img {
                    border-radius: 50%;
                    object-fit: cover;
                }
                
            }
        }
    }

    .notif {
        position: relative;
        transition: color 100ms ease-in-out;
        
        &:hover {
            color: var(--color-YG);
        }

        &::before {
            content:"";
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translate(-50%, 100%) rotate(0.001deg);
            opacity: 0;
            width: 4px;
            height: 4px;
            background-color: var(--color-YG);
            border-radius: 50%;
            transition: all 100ms ease-in-out;
            pointer-events: none;
        }
        
        &.active::before,
        &:hover::before {
            opacity: 1;
        }
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(var(--color-black-rgb), 0.1);
    }
} 

@media screen and (max-width: 1280px) {
    .nav {
        .left {
            .links {
                display: none;
            }
        }
    }
}

@media screen and (max-width: 540px) {
    .nav {
        padding: 0 var(--mobile-padding);

        .right {
            gap: 0.5rem;            

            .profile {
                .btn {
                    width: 2em;
                    height: 2em;
                }
            }
        }
    }  
    
}