.container {
    padding: 2rem var(--container-padding) 3rem;

    .cards {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
        max-width: 1563px;
        margin: 0 auto;

        .item {
            width: calc((100% - 4rem) / 3);
        }        
    }

}


@media screen and (max-width: 768px) {
    .container {
        .cards {
            flex-direction: column;
            
            .item {
                width: 100%;
            }            
        }
    }    
}

@media screen and (max-width: 540px) {
    .container {
        padding: 2rem var(--mobile-padding) 3rem;
    }
    
}