.container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 4;
    // background-color: transparent;
    // color: var(--color-dark);
    // color: var(--color-white);
    // background-color: var(--color-white);       
}