.logo {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);   
    overflow: hidden;     
    
    .imageContainer {
        position: relative;
        width: 8.5em;
        aspect-ratio: 125 / 46;

        img {
            object-fit: cover;
        }
    }
   
}

@media screen and (max-width: 540px) {
    .logo {
        .imageContainer {
            width: 7em;
        }
    }
}