.signedIn {
    display: flex;
    align-items: center;
    gap: 1.5rem;

    .messages {
        position: relative;

        .notificationBtn {
            background-color: transparent;
            border-radius: 50%;
            display: flex;
            align-items: center;
            cursor: pointer;
            transition: all 100ms ease-in;

            svg {
                transition: all 100ms ease-in;
            }

            &:hover {
                background-color: var(--color-dark);
                color: var(--color-white);

            }

            &:hover svg {
                fill: var(--color-white);
            }
              
            &:focus {
                outline: none; 
                box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px #1f2937; 
            }

            svg {
                height: 1.8em;
                width: 1.8em;
                transition: all 200ms ease-in-out;
            }

        }
    }   
    
    .profile {
        position: relative;

        .avatar {
            position: relative;
            .arrow {
                position: absolute;
                top: 80%;
                left: 50%;
                transform: translateX(-50%);
                height: 1em;
                width: 1em;
                cursor: pointer;

                svg {
                    height: 100%;
                    width: 100%;
                }
            }
        }

        .btn {
            position: relative;
            display: flex;
            background: transparent;
            border: none;
            height: 2.2em;
            width: 2.2em;                
            color: var(--color-dark);
            cursor: pointer;
            
            img {
                border-radius: 50%;
                object-fit: cover;
            }                
        }
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(var(--color-black-rgb), 0.1);
}

@media screen and (max-width: 540px) {
    .signedIn {
        gap: 0.5rem;            

        .profile {
            .btn {
                width: 2em;
                height: 2em;
            }
        }
    }    
}