.container {
    padding: 1.5rem var(--container-padding);
    background-color: var(--color-white);
    color: var(--color-dark);
    height: 100vh;

    h2 {
        text-align: center;
        margin: 0 auto;
        font-size: var(--regular-title-size);
        font-weight: 700;
        margin-bottom: 1.5rem;
    }

    .cards {
        display: grid;
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
    }
}

@media screen and (max-width: 768px) {
    .container {
        .cards {
            grid-template-columns: 1fr;
        }
    }
    
}