:root {

  --animation-fast: .4s cubic-bezier(.3, 1, .3, 1);
  --animation-primary: .6s cubic-bezier(.3, 1, .3, 1);
  --animation-smooth: .8s cubic-bezier(.3, 1, .3, 1);
  --animation-slow: .8s cubic-bezier(.6, 0, .2, 1);
  --animation-slider: 1.2s cubic-bezier(.6, 0, .2, 1);
  --animation-nav: .4s cubic-bezier(.3, 0, .3, 1);
  --animation-nav-smooth: 2s cubic-bezier(.3, 0, .3, 1);

  --color-dark: #1c1d20;
  --color-dark2: #000000;
  --color-white: #ffffff;
  --color-gray: #f5f5f5;
  --color-YG: #5FAB7D;
  --color-YG2: #87B52C;
  --color-red: #EF4444;
  --color-dark-rgb: 50, 32, 24;
  --color-black-rgb: 0, 0, 0;

  --gap: calc(var(--title-size) * 0.3);
  --section-padding: calc(var(--title-size) * 1.2);
  --container-padding: calc(var(--gap) * 1.5);
  --mobile-padding: calc(var(--container-padding) / 2);

  --title-size: clamp(5em, 7.5vw, 7.5em);
  --regular-title-size: calc(var(--title-size)* 0.3);
  --copy-size-m: 0.8em;
  --border-radius: 100em;

  --btn-height: 3em;
  --btn-height-small: 2.625em;

  --nav-bar-height: calc(var(--btn-height) + (var(--gap) * .6));
  --nav-bar-height-mobile: calc(var(--btn-height) + (var(--gap) * 0.6));
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}

html,
body {
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
  font-size: clamp(16px, 1.2vw, 19px);
  line-height: 1.5;
  background-color: var(--color-white);
  color: var(--color-dark);
  max-width: 100vw;
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
}



h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.active {
  display: block;
}

.hide {
  display: none;
}

input {
  -webkit-appearance: none; 
  -moz-appearance: none;   
  appearance: none;         

  background: transparent;
  border: none;
  padding: 0;
  outline: none;
  box-shadow: none;
}

select {
  border: none;
  background-color: transparent;
  /* overflow: scroll; */
}

textarea {
  resize: none;
}

/* button */
.btn {
  padding: 0 15px;
  height: var(--btn-height);
  color: var(--color-dark);
  font-size: .8em;
  font-weight: 500;
  border-radius: var(--border-radius);
  background-color: yellowgreen;
  text-align: center;
  outline: none;
  border: none;
  transition: all 100ms ease-in-out;
}

.btn:hover {
  background-color: #87B52C;
}

/* cards */
.cardsContainer {
  padding: 2rem var(--container-padding);
}

.cardsContainer .cards {
  width: 100%;
  display: flex;
  gap: 2rem;
  max-width: 1536px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.cards .item {
  width: calc((100% - 4rem) / 3);
}

@media screen and (max-width: 768px) {
  .cards {
    flex-direction: column;
  }

  .item {
    width: 100%;
  }
  
}

@media screen and (max-width: 540px) {
  .btn {
    height: var(--btn-height-small);
  }
  
}


