.bookmarkBtn {
    all: unset;
    position: absolute;
    left: 10px;
    top: 10px;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    background-color: var(--color-dark);
    color: var(--color-white);
    cursor: pointer;
    transition: all 100ms ease-in-out;

    &:hover {
        color: var(--color-red);
    }

    &.bookmarked {
        svg {
            fill: var(--color-red);
            transition: all 100ms ease-in-out;

        }
        &:hover svg{
            fill: var(--color-white);
        }

    }
}

.loadingBubbles {
    position: absolute;
    left: 10px;
    top: 10px;
    display: inline-block;
}
  
.loadingBubbles span {
    display: inline-block;
    width: 8px;
    height: 8px;
    margin-right: 4px;
    border-radius: 50%;
    background-color: var(--color-dark);
    animation: bubble 1s infinite ease-in-out both;
}

.loadingBubbles span:nth-child(1) {
    animation-delay: 0s;
}

.loadingBubbles span:nth-child(2) {
    animation-delay: 0.2s;
}

.loadingBubbles span:nth-child(3) {
    animation-delay: 0.4s;
}

@keyframes bubble {
    0%, 80%, 100% {
        transform: scale(0);
    }
    40% {
        transform: scale(1);
    }
}
  
  