.container {
    padding: 6vh var(--container-padding) 0;

    .wrapper {
        max-width: 1280px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;

        .headline {
            font-size: var(--regular-title-size);
            text-align: center;
        }

        .cards {
            display: flex;
            gap: var(--gap);
            flex-wrap: wrap;            

            .card {
                flex: 1;
                display: flex;
                flex-direction: column;
                gap: 2rem;

                .icon {
                    width: max-content;
                    height: max-content;
                    line-height: 1;
                    border-radius: 50%;
                    padding: 1.5rem;
                    background-color: var(--color-gray);
                    color: var(--color-YG);
                    
                    svg {
                        height: 1.8em;
                        width: 1.8em;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 992px) {
    .container {
        .wrapper {
            flex-direction: column;
        }
    }
    
}

@media screen and (max-width: 540px) {
    .container {
        padding: calc(var(--nav-bar-height))  var(--mobile-padding) 0;

        .wrapper {
            .cards {
                flex-direction: column;
                .card {
                    gap: 1rem;
                }
            }
        }
    }
    
}