.container {
    padding: 0 var(--container-padding);
    margin: 4rem 0;
    
    .wrapper {
        max-width: 1280px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        gap: 2rem;
    }
}

@media screen and (max-width: 1280px) {
    .container {
        .wrapper {
            max-width: 992px;
        }
    }
    
}

@media screen and (max-width: 768px) {
    .container {
        .wrapper {
            flex-direction: column;
            justify-content: flex-start;
            gap: 0;
        }
    }
    
}

@media screen and (max-width: 540px) {
    .container {
        padding: 0 var(--mobile-padding);
        margin: 2rem 0;        
    }
    
}