.item {
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    overflow: hidden;
    
    &:first-of-type {
        border-top: 1px solid rgba(0, 0, 0, .2);
    }

    .top {
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        transition: all 100ms ease-in-out;
        padding: 1rem 1.5rem 0;

        &:hover {
            background-color: var(--color-gray);
        }

        p {
            font-size: .8em;
        }

        .caret{
            svg {
                transition: all 100ms ease-in-out;
            }
            
            &.active {
                svg {
                    transform: rotate(-180deg);
                }            
            }        
        }
    }

    .bottom {
        height: 0;
        
        .answer {
            padding: 1rem 1.5rem;
            font-weight: 500;
        }

        &.active {
            height: auto;
        }
    }

}