.container {
    padding: 10vh var(--container-padding);

    .join {
        display: flex;
        justify-content: center;
        margin: 2em 0;
        
        .joinBtn {
            width: max-content;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--color-YG-top);
            color: var(--color-white);
            min-width: 12em;
            cursor: pointer;
            font-size: 1.2em;
            transition: all 100ms ease-in-out;

            svg {
                transition: all 100ms ease-in-out;
                margin-left: .5rem;
            }

            &:hover svg {
                transform: rotate(-45deg);
            }

            &:hover {
                background-color: var(--color-YG-middle);
            }
        }
    }

    .content {
        max-width: 1280px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        gap: var(--gap);

        .box {
            width: 50%;
            padding: 2rem;
            border-radius: 1rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            a {
                display: flex;
                align-items: center;
                justify-content: center;
                width: max-content;
                color: var(--color-white);
                cursor: pointer;
                transition: all 100ms ease-in-out;

            }
            &:nth-of-type(1) {
                background-color: var(--color-gray);

                a {
                    background-color: var(--color-dark);

                    &:hover {
                        background-color: var(--color-gray);
                        color: var(--color-dark);
                        border: 1px solid var(--color-dark)
                    }

                }
            }

            &:nth-of-type(2) {
                background-color: var(--color-dark);
                color: var(--color-white);
                a {
                    background-color: var(--color-white);
                    color: var(--color-dark);

                    &:hover {
                        background-color: var(--color-dark);
                        border: 1px solid var(--color-white);
                        color: var(--color-white);
                    }
                }
            }
        }
    } 
    
    

}

@media screen and (max-width: 540px) {
    .container {
        padding: 6vh var(--mobile-padding);

        .content  {
            flex-direction: column;
            justify-content: flex-start;

            .box {
                width: 100%;
            }
        }
    }
    
}