.container {
    padding: 2rem var(--container-padding);  

    h2 {
        text-align: center;
        margin: 0 auto;
        font-size: var(--regular-title-size);
        font-weight: 700;
        margin-bottom: 2rem;
    }

    .cards {
        width: 100%;
        display: flex;
        gap: 2rem;
        max-width: 1536px;
        margin: 0 auto;


        .item {
            width: calc((100% - 4rem) / 3);
        }        
    }
}

.bigBtn {
    width: 100%;
    padding: 0 var(--container-padding);
    margin: 2rem 0;
    
    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        max-width: 512px;
        padding: 1rem 1.5rem;
        font-size: 1em;
        background-color: var(--color-dark);
        color: var(--color-white);
        transition: all 100ms ease-in-out;

        &:hover {
            background-color: var(--color-white);
            color: var(--color-dark);
            border: 1px solid var(--color-dark)
        }
    }
}

@media screen and (max-width: 768px) {
    .container {
        .cards {
            flex-direction: column;
            
            .item {
                width: 100%;
            }            
        }
    }
    
}

@media screen and (max-width: 540px) {
    .container {
        padding: 2rem var(--mobile-padding);

        h2 {
            text-align: left;
        }
    }
    
}