.container {
    width: 100%;
    aspect-ratio: 16 / 15;
    border-radius: 1rem;
    background-color: var(--color-white);    
    transition: translate 300ms ease-in-out;  
    padding-right: 2rem;

    .wrapper {
        height: 100%;
        display: block;

        span {
            height: 100%;
            display: block;
        }
    }
}

@media screen and (max-width: 768px) {
    .container {
        padding-right: 0;
    }   
}