.bigBtn {
    width: 100%;
    padding: 0 var(--container-padding);
    margin: 2rem 0;
    
    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        max-width: 512px;
        font-size: 1em;
        background-color: var(--color-dark);
        color: var(--color-white);
        transition: all 100ms ease-in-out;

        &:hover {
            background-color: var(--color-white);
            color: var(--color-dark);
            border: 1px solid var(--color-dark)
        }
    }
}